.course {
  display: flex;
  align-items: center;
  padding: 20px;
  border: 2px solid green;
  margin-top: 50px;

  .course-description {
    width: 70%;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .course-name {
      font-size: 28px;
      font-weight: bold;
      margin-bottom: 40px;
    }

    .course-text {
      font-style: italic;
    }
  }

  .course-data {
    display: flex;
    flex-direction: column;

    p {
      margin-bottom: 20px;
    }
  }
}
